[submodule "monero"]
	path = monero
	url = https://github.com/hyahatiph-labs/monero
	ignore = all
	branch = feature-p2pool
[submodule "external/quirc"]
	path = external/quirc
	url = https://github.com/dlbeer/quirc/
[submodule "p2pool"]
	path = monero
	url = https://github.com/SChernykh/p2pool
	ignore = all
	branch = master
[submodule "xmrig"]
	path = monero
	url = https://github.com/xmrig/xmrig
	ignore = all
	branch = master
